/*************************************************** 
    GENERAL UTILITIES
****************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
}

img {
    max-width: 100%;
}

a:hover {
    color: #C4C4C4;
}

/*************************************************** 
    DEBUG
****************************************************/

/****************************** 
    HEADER SECTION
*******************************/



/******************************
    MAIN SECTION
*******************************/



/******************************
    FOOTER SECTION
*******************************/

