/*************************************************** 
    GENERAL UTILITIES
****************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

/*************************************************** 
    DEBUG
****************************************************/

/****************************** 
    HEADER SECTION
*******************************/



/******************************
    MAIN SECTION
*******************************/



/******************************
    FOOTER SECTION
*******************************/

