/*************************************************** 
    UTILITIES
****************************************************/

/********************* 
    BACKGROUND COLORS
**********************/

.white-bg {
    background-color: #FFFFFF;
}

.blue-bg {
    background-color: #0084FD;
}

.lightblue-bg {
    background-color: #B5DDFF;
}

.purple-bg {
    background-color: #9792E4;
}

.dark-grey-bg {
    background-color: #333333;
}

/********************* 
    TEXT
**********************/

.white-text {
    color: #FFFFFF;
}

.black-text {
    color: #000000;
}

.blue-text {
    color: #0084FD;
}

.grey-text {
    color:#5A6E7F;
}

.orange-text {
    color:#FDC15F;
}

.purple-text {
    color: #9792E4;
}

.text-center {
    text-align: center;
}

/********************* 
    BUTTONS
**********************/

.interactive-button {
    border-radius: 30px;
    padding: 15px;
}

.desktop-menu ul li a,
.main-info .card a, 
.strategic-planning a,
.work-with-us a,
.about-us a,
.footer-top a {
    text-decoration: none;
}

/********************* 
    CONTAINERS
**********************/

.container-70 {
    width: 70%;
    margin: 0 auto;
}

.container-90 {
    width: 90%;
    margin: 0 auto;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

.card {
    width: 100%;
    padding: 15px 50px;
}

.icon {
    font-size: 75px;
}